.DS_Store

**/*/node_modules
/build

# Svelte Kit
**/*/.svelte-kit
**/*/build

# Platform-specific
**/*/.netlify
**/*/.vercel

# Secrets
**/*/.env

# Misc

# wasm files will be copied using vite-plugin-copy
/app/static/wasm/*.wasm 