@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 189 37% 98%;
    --background-true: 0 0% 100%;

    --foreground: 205 32% 15%;
    --foreground-true: 0 0% 1%;

    --card: 189 37% 96%;
    --card-foreground: 205 32% 15%;

    --popover: 189 37% 96%;
    --popover-foreground: 205 32% 15%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 189 37% 94%;
    --secondary-foreground: 0 0% 9%;

    --muted: 189 37% 94%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 189 37% 94%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 189 39% 90%;
    --input: 189 39% 90%;
    --ring: 205 32% 15%;

    --radius: 0.5rem;

    /* Font Sizes */
    --font-size-sm: clamp(0.8rem, 0.08vw + 0.78rem, 0.84rem);
    --font-size-base: clamp(1rem, 0.23vw + 0.94rem, 1.13rem);
    --font-size-md: clamp(1.25rem, 0.45vw + 1.14rem, 1.5rem);
    --font-size-lg: clamp(1.56rem, 0.79vw + 1.36rem, 2rem);
    --font-size-xl: clamp(1.95rem, 1.29vw + 1.63rem, 2.66rem);
    --font-size-2xl: clamp(2.44rem, 2.02vw + 1.94rem, 3.55rem);
    --font-size-3xl: clamp(3.05rem, 3.06vw + 2.29rem, 4.73rem);

    /* Spacing */
    --container-padding: 2rem;
  }

  @screen lg {
    :root {
      --container-padding: 4rem;
    }
  }

  .dark {
    --background: 205 32% 15%;
    --foreground: 0 0% 98%;

    --card: 205 32% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 205 32% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  @media print {
    @page {
      margin: 0;
      background-color: hsl(var(--background-true)) !important;
    }

    html {
      font-size: 9pt;
    }

    html,
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      background-color: hsl(var(--background-true)) !important;
    }

    body {
      height: 100vh;
    }
    main {
      padding: 0 32px !important;
    }
    header,
    footer {
      display: none;
    }
    [data-resume-wrapper] {
      grid-template-columns: 1fr !important;
    }
    [data-resume-header],
    [data-resume-nav] {
      display: none;
    }
    [data-resume-container] {
      border: 0;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    [data-resume-body] > * {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    [data-resume-body-container] {
      max-width: none !important;
      gap: 2rem !important;
    }
    [data-resume-body-container] > * {
      break-inside: avoid;
    }
    .prose {
      max-width: none !important;
    }
  }
}
