/*********************************
SIMPLE BREAKPOINT
*********************************/

@mixin breakpoint($point) {
	@if $point == 'mobile-only' {
		@media (max-width: #{$tablet-sm - 1px}) {
			@content;
		}
	} @else if $point == 'tablet-only' {
		@media (min-width: $tablet-sm) and (max-width: #{$laptop-sm - 1px}) {
			@content;
		}
	} @else {
		@media (min-width: $point) {
			@content;
		}
	}
}

@mixin external-link {
	&::after {
		content: ' ↗';
		font-size: var(--font-size-sm);
		margin: 0 0.25em 0 0;
		color: var(--color-accent);
		transition: color var(--transition);
	}

	&:hover {
		&::after {
			color: var(--color-accent-2);
		}
	}
}
