// @import '@fontsource/league-spartan/400.css';
@import './global-imports';

:root {
	--font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	--font-serif: ui-serif, serif;
	--font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco,
		Droid Sans Mono, Source Code Pro, monospace;

	--font-primary: 'BitterVariable', var(--font-serif);
	--font-secondary: var(--font-sans);
	--font-tertiary: 'Jetbrains Mono', var(--font-mono);
	--white: #fff;
	--black: #000;

	--color-bg-hsl: 256 46% 11%;
	--color-bg: hsl(var(--color-bg-hsl));
	--color-bg-tint-0: hsl(256, 46%, 16%);
	--color-bg-tint: hsl(256, 46%, 20%);
	--color-bg-tint-2: hsl(256, 46%, 30%);
	// --color-primary: #048ba8;
	--color-accent: #ffbc42;
	--color-accent-2: #ffd890;
	--color-success: #10b981;
	--color-error: #ef4444;
	--color-h: var(--white);
	--color-p: hsl(256, 46%, 86%);
	--color-p-0: hsl(256, 46%, 72%);
	--gray: hsl(0 0% 25%);

	--gradient-1: linear-gradient(to bottom right, #536976, #292e49);

	--section-spacing: 2.5rem;
	--section-spacing-lg: 4rem;
	--form-field-gap: 0.625rem;
	--input-padding-v: 1rem;
	--input-padding-h: 0;

	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--border-radius: 0.5rem;

	--transition: 0.3s cubic-bezier(0.29, 0.07, 0.25, 1);

	--container-max-width: 1536px;
	--container-padding: 1rem;

	--cube-size: 60px;

	--font-size-sm: clamp(0.8rem, 0.05vw + 0.79rem, 0.84rem);
	--font-size-base: clamp(1rem, 0.13vw + 0.97rem, 1.13rem);
	--font-size-md: clamp(1.25rem, 0.26vw + 1.18rem, 1.5rem);
	--font-size-lg: clamp(1.56rem, 0.46vw + 1.45rem, 2rem);
	--font-size-xl: clamp(1.95rem, 0.75vw + 1.77rem, 2.66rem);
	--font-size-xxl: clamp(2.44rem, 1.17vw + 2.15rem, 3.55rem);
	--font-size-xxxl: clamp(3.05rem, 1.77vw + 2.61rem, 4.73rem);

	--font-size-h1: var(--font-size-xxl);
	--font-size-h2: var(--font-size-xl);
	--font-size-h3: var(--font-size-lg);
	--font-size-h4: var(--font-size-md);
	--font-size-h5: var(--font-size-base);
	--font-size-h6: var(--font-size-sm);

	--li-break: 1rem;

	@include breakpoint($mobile-lg) {
		--container-padding: 1.5rem;
	}

	@include breakpoint($tablet-sm) {
		--section-spacing: 2.5rem;
		--section-spacing-lg: 6rem;

		--container-padding: 2rem;
	}

	@include breakpoint($laptop-sm) {
		--section-spacing: 4.5rem;
		--section-spacing-lg: 8rem;

		--cube-size: 80px;
	}

	@include breakpoint($laptop) {
		--section-spacing: 5rem;
		--section-spacing-lg: 10rem;
	}

	@include breakpoint($laptop-lg) {
		--section-spacing: 6rem;
		--section-spacing-lg: 12rem;
	}

	// Shadows
	// --shadow-strength: 1%;
	// --shadow-color: 220deg 3% 15%; // HSL
	// @media (prefers-color-scheme: dark) {
	--shadow-strength: 25%;
	--shadow-color: 220deg 40% 2%; // HSL
	// }
	@for $i from 1 through 3 {
		/* stylelint-disable-next-line custom-property-pattern */
		--shadow-#{$i}: 0
			#{(3px + (($i - 1) * 1px))}
			#{(8px + (($i - 1) * 2px))}
			#{(-3px - (($i - 1) * 1px))}
			hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	color-adjust: economy;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg);
	font-family: var(--font-secondary);
	font-size: var(--font-size-base);
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-p);

	&.is-mouse {
		*:focus {
			outline: none;
		}
	}
}

/* body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
} */

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

::selection {
	background-color: var(--color-accent);
	color: var(--color-bg);
}

// Focus styles
*:not(:active):focus-visible {
	outline-offset: 4px;
	outline-color: var(--color-accent);

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: 0.25s;
	}
}
@media (prefers-reduced-motion: no-preference) {
	*:focus-visible {
		transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: 1.25;
	margin: 0;
	color: var(--color-h);

	&:first-child,
	&.mt-0 {
		margin-top: 0;
	}

	&:last-child,
	&.mb-0 {
		margin-bottom: 0;
	}
}

p {
	margin: 0;
	margin-bottom: 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-style: dotted;
		text-underline-offset: 0.2em;
		text-decoration-color: var(--color-accent);
	}
}

h1,
.h1 {
	font-size: var(--font-size-h1);
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-weight: 600;
}

h2,
.h2 {
	font-size: var(--font-size-h2);
	margin-top: 0.83em;
	margin-bottom: 0.67em;
	font-weight: 600;
}

h3,
.h3 {
	font-size: var(--font-size-h3);
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-weight: 600;
}

h4,
.h4 {
	font-size: var(--font-size-h4);
	margin-top: 1em;
	margin-bottom: 0.75em;
	font-weight: 450;
}

h5,
.h5 {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: var(--font-size-h5);
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

h6,
.h6 {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: var(--font-size-h6);
	text-transform: uppercase;
	letter-spacing: 0.16em;
	font-weight: 600;
}

small,
.small {
	font-size: 0.75rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-tertiary);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	background: none;
	border: 0;
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: none;
}

code {
	font-family: var(--font-tertiary);
	font-weight: 400;
	display: inline-block;
}

.container {
	width: 100%;
	max-width: var(--container-max-width);
	padding-right: var(--container-padding);
	padding-left: var(--container-padding);
	margin-right: auto;
	margin-left: auto;
}

.section-m-t {
	margin-top: var(--section-spacing);

	&--lg {
		margin-top: var(--section-spacing-lg);
	}
}

.section-m-b {
	margin-bottom: var(--section-spacing);

	&--lg {
		margin-bottom: var(--section-spacing-lg);
	}
}

// Buttons
.button {
	border-radius: var(--border-radius);
	background: var(--color-accent);
	color: var(--color-bg);
	padding: 1rem 1.5rem;
}

textarea {
	resize: none;
	height: 200px;
}

// Forms
.form-fields {
	display: flex;
	flex-flow: wrap;
	margin: calc(var(--form-field-gap) * -1);

	.form-field {
		padding: var(--form-field-gap);
		flex: 0 0 100%;
		max-width: 100%;

		&--half {
			flex: 0 0 50%;
			max-width: 50%;
		}

		&--submit {
			text-align: right;
		}

		label {
			position: relative;
			display: flex;
			width: 100%;

			input,
			select,
			textarea {
				line-height: 1.5;
				// height: 100%;
				width: 100%;
				box-shadow: none;
				border: 0;
				border-radius: 0;
				// background: var(--color-bg-tint);
				background: transparent;
				border-bottom: 1px solid var(--color-bg-tint-2);
				// border: 1px solid var(--color-p);
				color: var(--color-p);
				padding: var(--input-padding-v) var(--input-padding-h);
				// padding-top: 0;

				&:focus,
				&.has-value {
					padding-top: calc(var(--input-padding-v) * 1.25);
					padding-bottom: calc(var(--input-padding-v) * 0.75);

					+ .label {
						transform: translateY(calc(var(--input-padding-v) * -1));
						font-size: 70%;
						opacity: 0.75;
					}
				}

				&:focus {
					outline-offset: 0.5rem;

					~ .underline {
						width: 100%;
						opacity: 1;
					}
				}

				&[aria-invalid='true'] {
					border-bottom-color: var(--color-error);
				}

				&:disabled {
					cursor: not-allowed;
					opacity: 0.5;

					& ~ .label {
						opacity: 0.25;
					}
				}
			}

			.label {
				line-height: 1.5;
				position: absolute;
				top: var(--input-padding-v);
				left: var(--input-padding-h);
				pointer-events: none;
				transition: var(--transition);
			}

			.underline {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				opacity: 0;
				background: var(--color-accent);
				transition: opacity var(--transition), width var(--transition);
			}
		}
	}
}

img,
figure,
video,
audio {
	max-width: 100%;
}

abbr[title='required'] {
	color: var(--color-error);
	text-decoration: none;
}
